/*Font Importers*/



/*Root Vars*/
:root{
   --type-bg:#817972;
   --type-button-sep:#6c6157;
   --type-button-hv:#333333; 
}

/*Body Main*/
body,html,#app{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}